#logo{
    width: 15%;
}
.center{
    text-align: center;
}
#btn{
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: blue;
    color: #FFF;
    border:none;
    padding: 1em;
    margin-bottom: 1em;
    cursor: pointer;
}
#cont{
    margin-left: 1em;
}
#cont div{
    padding: 1em 0.5em;
    margin-bottom: 2em;
    outline: 0.1em solid #E5E3F2;
    background-color: #FFF;
}
.heart, .trash{
    margin:1em;
    float: right;
}
.trash:hover{
    color: #1DA1F2;
    cursor: pointer;
}

.strike-out{
    text-decoration: line-through;
    color: #1DA1F2;
}
.red{
    color:#FC1E26;
    cursor: pointer;
}
p{
    display: inline-block;
    margin-left: 0.5em;
}